USE [master]
GO
/****** Object:  Database [TaskManagerDB]    Script Date: 01.12.2021 14:10:45 ******/
CREATE DATABASE [TaskManagerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TaskManagerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManagerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TaskManagerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagerDB]
GO
/****** Object:  Table [dbo].[TaskRecord]    Script Date: 01.12.2021 14:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskRecord](
	[TaskID] [int] IDENTITY(0,1) NOT NULL,
	[TaskName] [varchar](max) NOT NULL,
	[TaskDescription] [varchar](max) NOT NULL,
	[TaskPerformer] [varchar](max) NOT NULL,
	[TaskRegDate] [datetime2](7) NOT NULL,
	[TaskStatusID] [int] NOT NULL,
	[CompleteDate] [datetime2](7) NULL,
	[ParentTaskID] [int] NULL,
	[Estimate] [int] NOT NULL,
	[FactualEstimate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskStatus]    Script Date: 01.12.2021 14:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskStatus](
	[TaskStatusID] [int] IDENTITY(0,1) NOT NULL,
	[TaskStatusName] [varchar](70) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TaskRecord]  WITH CHECK ADD FOREIGN KEY([TaskStatusID])
REFERENCES [dbo].[TaskStatus] ([TaskStatusID])
GO
ALTER TABLE [dbo].[TaskRecord]  WITH CHECK ADD  CONSTRAINT [FK_ParentTask_TaskID] FOREIGN KEY([ParentTaskID])
REFERENCES [dbo].[TaskRecord] ([TaskID])
GO
ALTER TABLE [dbo].[TaskRecord] CHECK CONSTRAINT [FK_ParentTask_TaskID]
GO
USE [master]
GO
